* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/*Grund inställningar på sidans innehåll*/

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    color: #1E1E1E;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    max-height: 13rem;
    height: 100%;
    width: 100%;
    background-color: #90a6d0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 0 10px 3px rgb(60, 73, 83);
    z-index: 20;
    padding: 2rem;
    gap: 10rem;
}

.logotyp img {
    width: 150%;
}

main {
    grid-area: main;
    margin: 0 auto 0 auto;
    margin-top: 13rem;
    min-height: 80rem;
    height: 100%;
    width: 100%;
}

main h1 {
    background-color: #1E1E1E;
    max-height: 8rem;
    height: 100%;
    color: white;
    padding: 2rem;
    font-size: 3.6rem;
}

footer {
    grid-area: footer;
    background-color: #1E1E1E;
    color: white;
    max-height: 15rem; 
    height: 100%;
    margin-top: 10rem;
    grid-area: footer;
    z-index: 1;
    font-size: 1.2rem;
}

/*...................Navbar meny....................*/
nav {
    width: 100vw;
}

.navbar {
    height: 9rem;
    display: flex;
    justify-content: right;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 5rem;
    z-index: 5;
}

nav li,
nav li a {
    width: 100%;
    padding: 0.1rem;
    list-style: none;
    text-decoration: none;
    color: #1E1E1E;
    font-size: 2rem;
    white-space: nowrap;
    font-weight: 600;
}

.nav-link {
    width: 100%;
    color: #1E1E1E;
    text-decoration: none;
}


.nav-item:hover {
    width: 100%;
    border-bottom: 2px solid #1E1E1E;
}

#active {
    border-bottom: 2px solid #1E1E1E;
}

/*...............................Start sida...........................*/
.text-wrap {
    margin: 3rem auto 3rem auto;
    padding: 2rem;
    max-width: 55ch;
    width: 100%;
    font-size: 1.6rem;
    line-height: 150%;
}

.text-wrap h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

/*...............................Picture sida...........................*/

.all-pictures-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    padding: 0 2rem 0 2rem;
}

.column {
    flex: 1;
    min-width: 0;
    max-width: 30rem;
    width: 100%;
}

.all-pictures-wrap img {
    display: block;
    margin-bottom: 2rem;
    width: 100%;
}




/*......................................Skärmbredd under 800px.......................................*/

/*Pictures*/
@media screen and (max-width:800px) {
    .all-pictures-wrap {
        display: block;
    }

    .column {
        display: flex;
        gap: 2rem;
        max-width: unset;
    }
}


/*Pictures*/
@media screen and (max-width:500px) {

    .column {
        display: block;
    }
}